/**
 * badges
 */

.society-badge::before {
  border-radius: 0.25em;
  clear: left;
  float: left;
  font-size: 0.75em;
  left: -0.25em;
  line-height: 0.75em;
  padding: 0.25em;
  position: relative;
  top: -0.25em;
  z-index: 10;
}

.society-badge.hc::before {
  /* this rule intentionally left blank */
}

.society-badge.mla::before {
  background-color: #7f132a;
  color: white;
  content: "MLA";
}

.society-badge.caa::before {
  background-color: #fcb718;
  color: white;
  content: "CAA";
}

.society-badge.ajs::before {
  background-color: #033136;
  color: white;
  content: "AJS";
}

.society-badge.aseees::before {
  background-color: #ec2127;
  color: white;
  content: "ASEEES";
}


/**
 * containers
 */

.item-avatar,
#item-header-avatar {
  position: relative;
}

.item-avatar {
  height: 80px;
  width: 80px;
}

.profile #item-header-avatar {
  height: 300px;
  width: 300px;
}

.profile.change-avatar #item-header-avatar {
  height: 210px;
  width: 210px;
}

.groups.single-item #item-header-avatar {
  height: 210px;
  width: 210px;
}

.item-avatar .avatar,
#item-header-avatar .avatar {
  position: absolute;
  left: 0;
}


/**
 * TODO these probably belong in the theme, they override cbox-mla
 */

#item-header-avatar .avatar {
  left: 0;
}

div#item-header {
  overflow: visible !important;
}
